.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 40px;
    color:#000000;
    font-family: 'Work Sans', sans-serif;
}

.container {
    font-family: 'Work Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.inner {
    font-family: 'Work Sans', sans-serif;
    border: 1px solid #000000;
    border-radius: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
}

.outer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gradient-background {
    /* background: radial-gradient(ellipse at top left, #ffffff 0%, #a5a5a5 50%, #4d525c 100%); */
}

@media (max-width: 768px) {
    .outer {
        grid-template-columns: 1fr;
    }
}

a {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

@keyframes colorChange {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}

.p-inspired {
    animation: colorChange 3s infinite alternate;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/* In crafting the design of the website, I opted for a simplistic approach 
as an ode to the minimalist style evident in Myoungae Kim's own digital presence. 
I sought to pay homage to the aesthetic of early websites from the late 80s and 
early 90s, drawn to their raw and unembellished appeal. This choice allowed me 
to immerse myself in the captivating essence of that era's web design, 
capturing its unique charm and nostalgia.

As a newcomer to coding and website development, my primary focus was on 
establishing the architectural framework of the website and conducting a 
thorough analysis of Kim's own digital platform. This foundational work laid 
the groundwork for a cohesive and user-friendly browsing experience, 
ensuring that visitors could seamlessly navigate and engage with the content. 

While simplicity was paramount, I also aimed to infuse the website with 
elements that reflected Kim's innovative spirit and artistic vision, 
ultimately creating a digital space that pays tribute to both their work and 
the evolving landscape of digital design. */