* {
    color: hotpink;
}

/* lime green is my fav color 
--------------
For this assignment, I went with the color pallette exy because...
--------------
*/

h1 {
    color: limegreen;
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 1000;
    font-family: "Geostar Fill", serif;
    font-weight: 400;
     font-style: normal;
}


p {
    color: yellow;
    line-height: 2;
}

li {
    color: peru;
}

.my-colors {
    color:aquamarine
}

#outcomes {
    color: green
}

[data-heading="learning"]{
    color: black
}

ul li {
    color: yellow
}

li > strong {
    color: purple
}

h3 > strong {
    color: gray
}